<h4>TODOList:</h4>

<h3>Group ID: {{test}}</h3>

<ul class="list-group">
  <ng-template ngFor let-item [ngForOf]="todoList">
  <li class="list-group-item" *ngIf="item._id !== taskId" >
    <p class="d-inline-block" (click)="actionEdit(item)">{{item.title}}</p>
    <div class="dropdown" style="float: right" ngbDropdown>
        <button type="button" class="ellipsis-button"  ngbDropdownToggle>
          <i class="fa fa-ellipsis-h"></i>
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li><a class="dropdown-item" href="javascript:void(0)" (click)="actionEdit(item)">Edit task</a></li>
          <li><a class="dropdown-item" href="javascript:void(0)" (click)="removeTask(item)">Remove task</a></li>
        </ul>
      </div>
  </li>
  <li class="list-group-item" *ngIf="item._id == taskId">
      <form action="" [formGroup]="editForm" (submit)="editTask()">
          <div class="input-group">
              <input type="text" class="form-control" formControlName="title">
              <span class="input-group-btn">
                <button [disabled]="!editForm.valid" class="btn btn-default" type="submit"><i class="fa fa-save"></i></button>
                <button class="btn btn-default" (click)="undoEdited()"><i class="fa fa-undo"></i></button>
              </span>
            </div>
            <div class="advanced-task mt-1">
                <div class="btn-group" ngbRadioGroup formControlName="priority" *ngIf="isPriority">
                    <label ngbButtonLabel class="btn-light">
                        <input ngbButton type="radio" [value]="1">
                        <i class="fa fa-flag" style="color: blue;"></i>
                    </label>
                    <label ngbButtonLabel class="btn-light">
                        <input ngbButton type="radio" value="red">
                        <i class="fa fa-flag" style="color: red;"></i>
                    </label>
                    <label ngbButtonLabel class="btn-light">
                        <input ngbButton type="radio" value="grey">
                        <i class="fa fa-flag" style="color: grey;"></i>
                    </label>
                </div>
                <div class="form-group" *ngIf="isGroup">
                  <select name="" id="" class="form-control">
                    <option value="">Default</option>
                    <option value="">Work</option>
                  </select>
                </div>
                <div class="menu pull-right">
                    <button class="btn btn-light" (click)="isGroup = !isGroup"><i class="fa fa-group"></i></button>
                    <!-- <button class="btn btn-light" (click)="isPriority = !isPriority"><i class="fa fa-flag"></i></button> -->
                    <div class="dropdown d-inline-block"  ngbDropdown>
                        <button type="button" class="btn btn-light"  ngbDropdownToggle>
                          <i class="fa fa fa-flag"></i>
                        </button>
                        <div class="dropdown-menu" ngbRadioGroup formControlName="priority" ngbDropdownMenu>
                            <label ngbButtonLabel class="btn-light">
                                <input ngbButton type="radio" [value]="1">
                                <i class="fa fa-flag" style="color: blue;"></i>
                            </label>
                            <label ngbButtonLabel class="btn-light">
                                <input ngbButton type="radio" value="red">
                                <i class="fa fa-flag" style="color: red;"></i>
                            </label>
                            <label ngbButtonLabel class="btn-light">
                                <input ngbButton type="radio" value="grey">
                                <i class="fa fa-flag" style="color: grey;"></i>
                            </label>
                        </div>
                      </div>
      
                </div>
            </div>
      </form>
    </li>
  </ng-template>
</ul>



<form class="mt-2" action="" [formGroup]="createForm" (submit)="createTask()" *ngIf="viewStatus">
    <div class="input-group">
        <input type="text" class="form-control" formControlName="title">
        <span class="input-group-btn">
          <button [disabled]="!createForm.valid" class="btn btn-default" type="submit"><i class="fa fa-save"></i></button>
          <button class="btn btn-default" (click)="undoCreate()"><i class="fa fa-undo"></i></button>
        </span>
      </div>
      <div class="advanced-task mt-1">
          <div class="btn-group" ngbRadioGroup formControlName="priority" *ngIf="isPriority">
              <label ngbButtonLabel class="btn-light">
                  <input ngbButton type="radio" [value]="1">
                  <i class="fa fa-flag" style="color: blue;"></i>
              </label>
              <label ngbButtonLabel class="btn-light">
                  <input ngbButton type="radio" value="red">
                  <i class="fa fa-flag" style="color: red;"></i>
              </label>
              <label ngbButtonLabel class="btn-light">
                  <input ngbButton type="radio" value="grey">
                  <i class="fa fa-flag" style="color: grey;"></i>
              </label>
          </div>
          <div class="form-group" *ngIf="isGroup">
            <select name="" id="" class="form-control">
              <option value="">Default</option>
              <option value="">Work</option>
            </select>
          </div>
          <div class="menu pull-right">
              <button class="btn btn-light" (click)="isGroup = !isGroup"><i class="fa fa-group"></i></button>
              <!-- <button class="btn btn-light" (click)="isPriority = !isPriority"><i class="fa fa-flag"></i></button> -->
              <div class="dropdown d-inline-block"  ngbDropdown>
                  <button type="button" class="btn btn-light"  ngbDropdownToggle>
                    <i class="fa fa fa-flag"></i>
                  </button>
                  <div class="dropdown-menu" ngbRadioGroup formControlName="priority" ngbDropdownMenu>
                      <label ngbButtonLabel class="btn-light">
                          <input ngbButton type="radio" [value]="1">
                          <i class="fa fa-flag" style="color: blue;"></i>
                      </label>
                      <label ngbButtonLabel class="btn-light">
                          <input ngbButton type="radio" value="red">
                          <i class="fa fa-flag" style="color: red;"></i>
                      </label>
                      <label ngbButtonLabel class="btn-light">
                          <input ngbButton type="radio" value="grey">
                          <i class="fa fa-flag" style="color: grey;"></i>
                      </label>
                  </div>
                </div>

          </div>
      </div>
</form>
<button class="btn btn-link mt-2" (click)="viewStatus = !viewStatus">
  <i class="fa fa-plus"></i>
  Add task
</button>
